html {
    background-color: #232323;
}



body {
    margin: 0;
}
header {    /*color of the banner, text color, text decoration*/
    background-color: #541818;
    padding: 1em;
    /* padding-bottom: 1em; */
}

    /*MvHS text color, removes text-decoration from link*/
header h1{
    text-decoration: none;
    color: aliceblue;
    padding-bottom: .25em;
    padding-left: .5em;
}

nav {
    text-align: right;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    padding-bottom: .25em;
    padding-left: .5em;
}

/*To reflect clinic will replace with logo*/
header a:hover{color: #A3C3DC;}




footer {
    background-color: #541818;
    color: aliceblue;
    justify-content: end;
    text-align: center;
    height: fit-content;
    
}