html {
    background-color: #F1F1F1;
}



body {
    
}

header {
    justify-content: flex-start;
    background-color: #541818;
    
}



footer {
    background-color: #541818;
    justify-content: end;
}